# Explore the `breizhcrops` package
Explore the breizhcrops package, which is a package for the analysis of crop yield data in Brittany, France. Load the data, and see the differences between the packages and the loaded data from ELECTS.

In [1]:
import breizhcrops as bzh
dataset = bzh.BreizhCrops("frh04")
x, y, field_id = dataset[0]

classmapping.csv: 8.19kB [00:00, 43.1kB/s]
frh04.csv: 9.63MB [00:00, 18.1MB/s]

downloading breizhcrops_dataset\2017\L1C\frh04.h5.tar.gz

frh04.h5.tar.gz: 1.01GB [00:29, 34.3MB/s]

extracting breizhcrops_dataset\2017\L1C\frh04.h5.tar.gz to breizhcrops_dataset\2017\L1C\frh04.h5
removing breizhcrops_dataset\2017\L1C\frh04.h5.tar.gz
checking integrity by file size...
ok!

codes.csv: 24.6kB [00:00, 226kB/s]

In [17]:
# explore 
index = 12900
x, y, field_id = dataset[index]
print("x.shape", x.shape)
print("y=", y)
print("field_id", field_id)
print("classes:", dataset.classes)
print("-----------------")
print("dataset.mapping:", dataset.mapping)
print("-----------------")
print("len(dataset):", len(dataset))
print("classname: ", dataset.classname)
print("-----------------")
print("dataset.index:", dataset.index)

x.shape torch.Size([45, 13])
y= tensor(8)
field_id 6034234
classes: [0 1 2 3 4 5 6 7 8]
-----------------
dataset.mapping:       id          classname
code
ORH    0             barley
ORP    0             barley
BTH    1              wheat
BTP    1              wheat
CZH    2           rapeseed
CZP    2           rapeseed
MID    3               corn
MIE    3               corn
MIS    3               corn
TRN    4          sunflower
VRG    5           orchards
PWT    5           orchards
PFR    5           orchards
AGR    5           orchards
CAB    6               nuts
CTG    6               nuts
NOS    6               nuts
NOX    6               nuts
PIS    6               nuts
PPH    7  permanent meadows
PRL    7  permanent meadows
PTR    8  temporary meadows
RGA    8  temporary meadows
-----------------
len(dataset): 122614
classname:  ['barley' 'wheat' 'rapeseed' 'corn' 'sunflower' 'orchards' 'nuts'
 'permanent meadows' 'temporary meadows']
-----------------
dataset.index:              id CODE_CULTU                   path     meanCLD  sequencelength  \
idx
0       6017564        PTR  csv/frh04/6017564.csv  780.075742             102
6       6054675        PTR  csv/frh04/6054675.csv  731.428571              49
7       6018665        PTR  csv/frh04/6018665.csv  710.530612              49
8       6019318        PTR  csv/frh04/6019318.csv  770.534653             101
9       6019435        RGA  csv/frh04/6019435.csv  600.625715              49
...         ...        ...                    ...         ...             ...
158327  5057907        PPH  csv/frh04/5057907.csv  633.608050              50
158328  5057908        MIS  csv/frh04/5057908.csv  640.096150              50
158330  5057910        MIS  csv/frh04/5057910.csv  662.517416              50
158331  5057975        MIS  csv/frh04/5057975.csv  639.764726              50
158332  5057976        MIS  csv/frh04/5057976.csv  648.850241              50

        classid          classname region
idx
0             8  temporary meadows  frh04
6             8  temporary meadows  frh04
7             8  temporary meadows  frh04
8             8  temporary meadows  frh04
9             8  temporary meadows  frh04
...         ...                ...    ...
158327        7  permanent meadows  frh04
158328        3               corn  frh04
158330        3               corn  frh04
158331        3               corn  frh04
158332        3               corn  frh04

[122614 rows x 8 columns]

In [15]:
dataset.index

,id,CODE_CULTU,path,meanCLD,sequencelength,classid,classname,region
idx,,,,,,,,
0,6017564,PTR,csv/frh04/6017564.csv,780.075742,102,8,temporary meadows,frh04
6,6054675,PTR,csv/frh04/6054675.csv,731.428571,49,8,temporary meadows,frh04
7,6018665,PTR,csv/frh04/6018665.csv,710.530612,49,8,temporary meadows,frh04
8,6019318,PTR,csv/frh04/6019318.csv,770.534653,101,8,temporary meadows,frh04
9,6019435,RGA,csv/frh04/6019435.csv,600.625715,49,8,temporary meadows,frh04
...,...,...,...,...,...,...,...,...
158327,5057907,PPH,csv/frh04/5057907.csv,633.608050,50,7,permanent meadows,frh04
158328,5057908,MIS,csv/frh04/5057908.csv,640.096150,50,3,corn,frh04
158330,5057910,MIS,csv/frh04/5057910.csv,662.517416,50,3,corn,frh04
158331,5057975,MIS,csv/frh04/5057975.csv,639.764726,50,3,corn,frh04
158332,5057976,MIS,csv/frh04/5057976.csv,648.850241,50,3,corn,frh04